<template>
    <div class="bar" :className="className">
    </div>
</template>

<script>
    export default {
        props: {
            className: ''
        }
    }
</script>

<style lang="scss" scoped>
    div {
        height: 3px;
        width: 60px;
    }
</style>