<template>
    <button :className="className" type="reset">
        {{buttonText}}
    </button>
</template>

<script>
    export default {
        props: {
            buttonText: '',
            className: ''
        }
    };
</script>

<style lang="scss" scoped>
    button {
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease-in;
        letter-spacing: 2px;
        font-weight: bold;
    }
</style>