<template>
    <div class="clients flex flex-column" id="exito">
        <div class="client-title flex flex-column container">
            <h2>Lo que dicen nuestros clientes</h2>
            <div class="bar">
                <Bar className="green" />
            </div>
        </div>
        <div class="flex client-photo">
            <div class="flex all-clients" v-for="(cliente, index) in clientes" :key="index" :class="`cliente${index}`">
                <div class="top"></div>
                <div class="bot flex flex-column">
                    <p>"{{cliente.texto}}"</p>

                    <p>{{cliente.nombre}} - {{cliente.cargo}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <Button buttonText="Hablemos de tu proyecto" className="header-button" />
        </div>

    </div>
</template>

<script>
    import Bar from './Bar.vue'
    import Button from './Button.vue'

    export default {
        data() {
            return {
                clientes: [{
                        texto: 'Una empresa responsable con lo necesario para el crecimiento de tu negocio',
                        nombre: 'Cristobal Fernandez',
                        cargo: 'CEO Copec'
                    },
                    {
                        texto: 'Mi negocio estableció records de ventas, vi resultados en menos de 6 meses',
                        nombre: 'Maria Paz Segers',
                        cargo: 'Lead Digital BBVA'
                    },
                    {
                        texto: 'Lo necesario para una mejor imágen, extremadamente responsables',
                        nombre: 'Renato Bascuñán',
                        cargo: 'Lead Digital Chilena'
                    }
                ]
            }
        },
        components: {
            Bar,
            Button
        }
    }
</script>

<style lang="scss" scoped>
    div {
        color: #fff;
    }

    .clients {
        align-items: center;
        text-align: center;
        padding: 5rem 0;


        .client-title {
            align-items: center;
            margin: 2rem 0;
        }

        .client-photo {
            margin-top: 1.5rem;
            height: 350px;

            .cliente0,
            .cliente1,
            .cliente2 {
                opacity: 0.9;
                flex-direction: column-reverse;

                .bot {
                    gap: 3rem;

                    p:first-child {
                        font-size: 20px;
                        font-style: italic;

                    }

                    p:last-child {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

            .cliente0 {
                background-image: url('../assets/img/cliente1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .cliente1 {
                background-image: url('../assets/img/cliente2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

            }

            .cliente2 {
                background-image: url('../assets/img/cliente3.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

    }

    @media (max-width:900px) {

        .client-photo {
            height: 100% !important;
            flex-direction: column;

            .all-clients {
                margin: 0.2rem 0;

                p {
                    padding: 1rem 0;
                }
            }
        }
    }
</style>