<template>
  <section class="exp flex flex-column container" id="nosotros">
    <div class="exp-top flex flex-column">
      <h2>17 años de experiencia en pos de tu proyecto</h2>
      <Bar className="green" />
      <p>Especializados desde 1996 en usabilidad, experiencia de usuario (UX) y diseño de experiencias de proyectos
        digitales. Aportamos estrategia e innovación centrada en el usuario y los objetivos de negocio de tu proyecto.
        Cotrabajando mejoraremos tu tasa de conversión, KPI's, ROI y los resultados de tu actual publicidad PPC (pay per
        click).</p>
    </div>

    <!-- V FOR PARA LAS BOXES -->
    <div class="exp-mid flex">
      <div v-for="(box, index) in boxes" :key="index" :class="box.class">
        <h3>{{box.titulo}}</h3>
        <p>{{box.descripcion}}</p>
      </div>
    </div>

    <div class="exp-bottom flex flex-column">
      <h2>Proyectos destacados</h2>
      <Bar className="green" />
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse error iure neque cum. Quam similique, adipisci
        velit provident aut vero, blanditiis odit expedita atque suscipit laboriosam inventore assumenda sint. Itaque?
      </p>
    </div>

  </section>
</template>

<script>
  import Bar from './Bar.vue'
  export default {
    data() {
      return {
        boxes: [{
            titulo: 'Estrategia, usabilidad & ux',
            descripcion: 'Te ofrecemos excelente usabilidad y experiencia del usuario en tu proyecto, junto a una visión innovadora',
            class: 'box1'
          },
          {
            titulo: 'Mejoramos la experiencia',
            descripcion: 'Tangibilizamos tu proyecto digital a través de un diseño centrado en el usuario y técnicas avanzadas',
            class: 'box2'
          },
          {
            titulo: 'Medición continua de objetivos',
            descripcion: 'Implementación, testing con usuarios y medición continua son necesarias para garantizar el éxito de tu proyecto',
            class: 'box3'
          }
        ]
      }
    },
    components: {
      Bar
    }
  }
</script>

<style lang="scss" scoped>
  .exp {
    padding: 4rem 0;
    background-color: #273138;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    gap: 4rem;

    p {
      color: #939394;
      font-size: 15px;
    }

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
    }

    .exp-top,
    .exp-bottom {
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 80%;
      margin: 0 auto;

      .green {
        margin-bottom: 1rem;
      }
    }

    .exp-mid {
      text-align: center;
      width: 100%;

      .box1,
      .box2,
      .box3 {
        padding: 5rem 3rem;

        h3 {
          font-size: 22px;
          margin-bottom: 10px;
          color: #00be0f;
          font-weight: normal;
        }

        p {
          font-size: 15px;
        }
      }

      .box1 {
        background-color: #3b4148;
      }

      .box2 {
        background-color: #161c21;
      }

      .box3 {
        background-color: #202a37;
      }
    }
  }

  @media(max-width: 900px) {
    .exp-mid {
      flex-direction: column;
    }
  }

  @media(max-width:1300px) {
    .exp-bottom {
      h2 {
        margin-top: 2rem;
      }
    }
  }
</style>