<template>
    <div class="footer flex" id="contacto">
        <div class="icon">
            <img src="../assets/logo.png" alt="">
        </div>
        <div class="footer-content">
            <div class="copyright">
                <p>©<span> 2017</span> SOHO Internet + Humana</p>
            </div>
            <div class="contact">

                <a href="#">Visitanos</a>
                <a href="#">Escribenos</a>
                <a href="#">Llámanos</a>

            </div>
            <div class="social-media">

                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Linkedin</a>
                <a href="#">Youtube</a>

            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss" scoped>
    .footer {
        position: absolute;
        width: 100%;
        background-color: #000;
        color: #fff;
        padding: 2rem;

        .icon {
            position: absolute;
            top: -30px;
            left: 49%;

            img {
                height: 40px;
            }

        }

        .footer-content {
            display: grid;
            width: 100%;
            text-align: center;
            grid-template-columns: repeat(3, 33%);
            align-items: center;
            justify-content: space-around;

            p {
                margin: 0;
            }

            span {
                font-weight: bold;
            }

            a {
                text-decoration: none;
            }

            .contact {
                display: grid;
                grid-template-columns: repeat(3, 33%);

                a {
                    color: #00be0f;
                    font-weight: bold;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #049410;
                    }
                }
            }

            .social-media {
                display: flex;
                justify-content: flex-end;
                gap: 3rem;
                font-weight: bold;

                a:nth-child(1) {
                    color: #3d61c3;
                }

                a:nth-child(2) {
                    color: #0ad2ff;
                }

                a:nth-child(3) {
                    color: #4180c7;
                }

                a:nth-child(4) {
                    color: #c92c3a;
                }

            }



        }
    }

    @media (max-width:900px) {
        .footer-content {
            display: flex !important;
            flex-direction: column;
            gap: 1rem;

            .contact {
                gap: 0.7rem;
            }
        }
    }

    @media(max-width:380px) {
        .social-media {
            margin-top: 1rem;
            flex-direction: column;
            gap: 1.5rem !important;
        }
        .icon{
            left: 46%!important;
        }
    }
</style>