<template>
    <section class="header flex vh" id="inicio">
        <div class="header-content container">
            <h2>Nos especializamos en</h2>
            <h1>interfaces digitales que los usuarios aman</h1>
            <Button buttonText="Hablemos de tu proyecto" className="header-button" />
        </div>
    </section>
</template>

<script>
    import Button from './Button.vue'
    export default {
        components: {
            Button
        }

    }
</script>

<style lang="scss" scoped>
    .header {
        background-image: url('../assets/img/fondo-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        align-items: center;
        justify-content: center;


        .header-content {
            text-align: center;

            h2 {
                font-size: 34px;
                color: #fff;
            }

            h1 {
                font-size: 42px;
                color: #00be0f;
                font-weight: bolder;
            }
        }
    }

    @media (max-width: 900px) {
        header {
            width: 300px;
    }
     h2 {
                padding-top:2rem;
            }
    }
</style>