<template>
    <header :class="{'scrolled-nav': scrolledNav}">
        <nav>
            <div v-show="!mobile" class="branding">
                <img src="../assets/logo.png" alt="Soho">
            </div>
            <ul v-show="!mobile" class="navigation">
                <li><a class="link" href="#inicio">inicio</a></li>
                <li><a class="link" href="#nosotros">nosotros</a></li>
                <li><a class="link" href="#servicios">servicios</a></li>
                <li><a class="link" href="#exito">casos de éxito</a></li>
                <li><a class="link" href="#contacto">únete al equipo</a></li>
                <li><a class="link" href="#contacto">contacto</a></li>
            </ul>
            <div class="icon">
                <i @click="toggleMobileNav" v-show="mobile" class="far fa-bars"
                    :class="{'icon-active' : mobileNav}"></i>
            </div>
            <transition name="mobile-nav">
                <ul v-show="mobileNav" class="dropdown-nav">
                    <li><a class="link" href="#inicio">inicio</a></li>
                    <li><a class="link" href="#nosotros">nosotros</a></li>
                    <li><a class="link" href="#servicios">servicios</a></li>
                    <li><a class="link" href="#exito">casos de éxito</a></li>
                    <li><a class="link" href="#contacto">únete al equipo</a></li>
                    <li><a class="link" href="#contacto">contacto</a></li>

                    <div class="branding">
                        <img src="../assets/logo.png" alt="Soho">
                    </div>
                </ul>
            </transition>
        </nav>
    </header>
</template>

<script>
    export default {
        name: 'navigation',
        data() {
            return {
                scrolledNav: null,
                mobile: null,
                mobileNav: null,
                windowWidth: null
            }
        },
        created() {
            window.addEventListener('resize', this.checkScreen);
            this.checkScreen();
        },
        mounted() {
            window.addEventListener('scroll', this.updateScroll);
        },
        methods: {

            toggleMobileNav() {
                this.mobileNav = !this.mobileNav;
            },

            updateScroll() {
                const scrollPosition = window.scrollY;
                if (scrollPosition > 50) {
                    this.scrolledNav = true;
                    return
                }
                this.scrolledNav = false
            },

            checkScreen() {
                this.windowWidth = window.innerWidth;
                if (this.windowWidth <= 900) {
                    this.mobile = true;
                    return
                }
                this.mobile = false;
                this.mobileNav = false;
                return;
            }

        }
    }
</script>

<style lang="scss" scoped>
    header {
        background-color: transparent;
        backdrop-filter: blur(3px);
        z-index: 99;
        width: 100%;
        position: fixed;
        transition: 0.5s ease all;
        color: #bbbfc3;

        nav {
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 12px 0;
            transition: 0.5s ease all;
            width: 90%;
            margin: 0 auto;

            @media(min-width: 1440px) {
                max-width: 1140px;
            }

            ul,
            .link {
                font-weight: bold;
                color: #bbbfc3;
                list-style: none;
                text-decoration: none;
            }

            li {
                text-transform: lowercase;
                padding: 16px;
                margin-left: 16px;
            }

            .link {
                font-size: 14px;
                transition: 0.5 ease all;
                padding-bottom: 4px;
                border-bottom: 3px solid transparent;
                transition: 0.5s ease all;

                &:hover {
                    color: #02b300;
                    border-color: #02b300;
                }
            }

            .branding {
                display: flex;
                align-items: center;

                img {
                    width: 45px;
                    transition: 0.5s ease all;

                }
            }

            .navigation {
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: flex-end;
            }

            .icon {
                display: flex;
                align-items: center;
                position: absolute;
                top: 5;
                right: 24px;
                height: 100%;

                i {
                    cursor: pointer;
                    font-size: 24px;
                    transition: 0.8s ease all;
                }

            }

            .icon-active {
                transform: rotate(180deg)
            }

            .dropdown-nav {
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 120vh!important;
                width: 100%;
                max-width: 250px;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.76);

                img {
                    width: 30px;
                    margin-left: 15px;
                }

                li {
                    margin-left: 0;
                }
            }

            .mobile-nav-enter-active,
            .mobile-nav-leave-active {
                transition: 1s ease all;
            }

            .mobile-nav-enter-from,
            .mobile-nav-leave-to {
                transform: translateX(-250px);
            }

            .mobile-nav-enter-to {
                transform: translateX(0);
            }

        }
    }


    .scrolled-nav {
        nav {
            padding: 8px 0;

            .branding {
                img {
                    width: 35px;
                }
            }
        }
    }
</style>