<template>
  <Navbar />
  <Home />
  <Streaming />
  <Experiencia />
  <Productos />
  <Clientes />
  <Footer />
</template>

<script>
  import Bar from './components/Bar.vue'
  import Button from './components/Button.vue'
  import Navbar from './components/Navbar.vue'
  import Home from './components/Home.vue'
  import Streaming from './components/Streaming.vue'
  import Experiencia from './components/Experiencia.vue'
  import Productos from './components/Productos.vue'
  import Clientes from './components/Clientes.vue'
  import Footer from './components/Footer.vue'

  export default {
    components: {
      Bar,
      Button,
      Navbar,
      Home,
      Streaming,
      Experiencia,
      Productos,
      Clientes,
      Footer
    }
  }
</script>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Graphik-Extralight';
    src: url('./assets/font/Graphik-Extralight.ttf');
    font-style: normal;
    font-weight: normal;
  }

  body {
    font-family: 'Graphik-Extralight';
    background-color: #273138;
  }

  .vh {
    height: 70vh;
  }

  .green {
    background-color: #02b300;
  }

  .red {
    background-color: #c92c3a;
  }

  .white {
    background-color: #fff;
  }

  .flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  .header-button {
    margin-top: 4rem;
    font-size: 10px;
    padding: 1.1rem 2.5rem;
    color: #fff;
    background-color: #00be0f;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #000000;
    }
  }
</style>